.head_title{
    color: var(--blue);
    font-size: var(--logo-size);
    text-align: center;
    justify-content: center;
    margin: 1rem 0;
    margin-top: 3rem;
    .logo{
        margin-right: 2rem;
    }
    .title{
        margin: 0;
    }
}

#success{
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background-color: var(--text);
    font-size: var(--text-size);
    padding: .5rem 1rem;
    transition: all .3s ease-in-out;
    border-radius: 1rem;
    box-shadow: 0 5px 10px gray;
}

.address_box{
    justify-content: center;


    .address{
        cursor: pointer;
        color: var(--blue);
        font-size: var(--text-size);
        font-weight: 500;
        .address_value{
            border: none;
            outline: none;
            cursor: pointer;
            width: 350px;
            font-size: var(--paragraph-size);
            font-weight: 400;
        }
        .copy_icon{
            margin-left: .5rem;
        }
    }
}


.card_box{
    margin-top: 2rem;
    background-color: var(--text);
    border-radius: 2rem;
    width: 700px;
    padding: 3rem;
    box-shadow: 0 5px 10px gray;
    .card{
        width: 100%;
        color: var(--blue);

        .rem_ex{
            font-size: var(--paragraph-size);
            font-weight: 400;

        }
        .rem_ex_value{
            font-size: var(--text-size);
            font-weight: 500;
            margin-top: .5rem;
        }

        .ex_pro{
            text-align: end;
        }
        
        .rem_lim{
            text-align: start;
        }

        .balance_box{
            justify-content: flex-end;
            margin-bottom: .5rem;
            margin-top: 3rem;
            h3{
                font-size: var(--paragraph-size);
                font-weight: 400;
            }
        }
        .transc{
            border: 2px solid var(--blue);
            border-radius: .5rem;
            padding: .2rem;
            box-shadow: 0 2px 5px gray;

            .balance_value{
                width: 90%;
                border: none;
                outline: none;
                padding: .5rem;
                font-size: var(--text-size);
                color: var(--blue);
            }

            .transc_icon{
                font-size: var(--text-size);
                margin: 0 .5rem;
            }
        }
    }


    .progress_bar{
        margin-top: 2rem;
        width: 100%;
        border-radius: 2rem;
        padding: .25rem;
        background-color: var(--bg);
        box-shadow: 0 2px 2px gray;

        .bar{
            height: 2rem;
            border-radius: 2rem;
            background-color: var(--blue);
            color: var(--text);
            font-size: 14px;
            box-shadow: inset 0 2px 5px black;
        }
    }

    .l_h_bar_vlaue{
        margin: 1rem 0;
        h1{
            font-size: var(--text-size);
            font-weight: 500;
        }
    }

    .hide_show{
        font-size: var(--text-size);
        cursor: pointer;
        .arrow{
            margin-left: 1rem;
            transform: rotateX(180deg);
        }
    }

    .hidden_box{
        height: 100%;
        transition: all .3s ease-in-out;
        padding: 3rem 0;
        h1{
            padding: 1rem 0;
            border-bottom: 1px solid #c2c2c2;
            font-size: var(--text-size);
            font-weight: 500;
            span{
                color: var(--blue);
            }
            .title{
                color: var(--paragraph);
                font-weight: 400;
            }
        }
    }

}

h1.title{
    margin-top: 2rem;
    text-align: center;
    font-weight: 700;
    font-size: var(--logo-size);
    color: var(--blue);
}

.token_info{
    margin-bottom: 5rem;
    .hidden_box{
        padding: 0;
    }
}




@media only screen and (max-width: 750px) {
    .card_box{
        width: 100%;
    }
}


@media only screen and (max-width: 650px) {
    .token_info{
        width: 100%;

        .address{
            width: 75%;
            overflow-x: scroll;
        }
    }

}

@media only screen and (max-width: 550px) {
    .address_box{
        .address{
            flex-direction: column;
        }
    }
}



@media only screen and (max-width: 500px) {

    .hidden_box{
        h1{
            flex-direction: column;
            text-align: center;
            
            span{
                margin: .5rem 0;
            }
        }
    }
    .token_info{
        .address{
            width: 100%;
        }
    }
    .container{
        padding: 3rem 1rem;
    }

}

@media only screen and (max-width:450px) {
    
    .exchange_status{
        flex-direction: column;
        .ex_pro{
            margin-top: 1rem;
            text-align: center !important;
        }
        
        .rem_lim{
            
            text-align: center !important;
        }   
    }
}

@media only screen and (max-width:400px) {
    .address_box{
        margin: 0 auto;
        text-align: center;
        .two{
            width: 95%;
            padding: 0 1rem;
            .address_value{
                display: flex;
                overflow-x: scroll;
            }
        }

    }
}


@media only screen and (max-width:375px) {
    .address_box{
        margin: 0 auto;
        text-align: center;
        .address{
            width: 100%;
        .two{
            width: 95%;
            padding: 0 1rem;
            .address_value{
                display: flex;
                overflow-x: scroll;
            }
        }
    }
    }
}