nav {
  padding-top: 1.5rem;
}

nav .desktop_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .desktop_nav .menu {
  cursor: pointer;
  font-size: var(--logo-size);
  display: none;
}

nav .desktop_nav .menu_bar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 3rem 1rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: -100vh;
  left: 0;
  background-color: #000000ee;
}

nav .desktop_nav .menu_bar .close {
  cursor: pointer;
  font-size: var(--logo-size);
  color: var(--text);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 4.5rem;
  right: 2rem;
}

nav .desktop_nav .menu_bar .close:hover {
  color: var(--paragraph);
}

nav .desktop_nav .menu_bar .navLinks {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .desktop_nav .menu_bar .navLinks .navLink {
  color: var(--text);
  margin: 1rem 0;
}

nav .desktop_nav .menu_bar .contact_btn {
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .desktop_nav .menu_bar .contact_btn .join_us {
  color: var(--text);
  border-color: var(--text);
}

nav .desktop_nav .menu_bar .contact_btn .discord {
  margin-left: 2rem;
}

nav .desktop_nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .desktop_nav .navLinks .navLink {
  margin: 0 1rem;
  font-size: var(--text-size);
  font-weight: 400;
  color: var(--black);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav .desktop_nav .navLinks .navLink:hover {
  color: var(--paragraph);
}

nav .desktop_nav .contact_btn .btn {
  cursor: pointer;
  padding: .5rem 1.5rem;
  border: 2px solid var(--black);
  font-size: var(--text-size);
  border-radius: 2rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav .desktop_nav .contact_btn .btn:hover {
  background-color: var(--pink);
  color: var(--text);
  border-color: transparent;
}

nav .desktop_nav .contact_btn .discord {
  margin-left: 1rem;
  color: var(--text);
  border: none;
  background-color: var(--blue);
}

nav .desktop_nav .contact_btn .connect {
  background-color: var(--pink);
  margin-left: 1rem;
  color: var(--text);
  border: 2px solid transparent;
}

nav .desktop_nav .contact_btn .connect:hover {
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
}

nav .logo .logoImage {
  width: 50px;
}

nav .logo .logo_text {
  font-size: var(--logo-size);
  margin-left: 1rem;
}

@media only screen and (max-width: 1200px) {
  nav .desktop_nav .contact_btn .btn {
    width: 150px;
    height: 50px;
  }
}

@media only screen and (max-width: 1230px) {
  nav .desktop_nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .desktop_nav .navLinks, nav .desktop_nav .contact_btn {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .contact_btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_btn .discord, .contact_btn .connect {
    margin-left: 0px !important;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 370px) {
  nav .logo_text {
    font-size: 22px !important;
  }
}
/*# sourceMappingURL=Nav.css.map */