nav {
    padding-top: 1.5rem;

    .desktop_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu{
            cursor: pointer;
            font-size: var(--logo-size);
            display: none;
        }

        .menu_bar{
            flex-direction: column;
            transition: all .2s ease-in-out;
            padding: 3rem 1rem;
            position: fixed;
            width: 100%;
            height: 100vh;
            bottom: -100vh;
            left: 0;
            background-color: #000000ee;

            .close{
                cursor: pointer;
                font-size: var(--logo-size);
                color: var(--text);
                transition: all .2s ease-in-out;
                position: absolute;
                top: 4.5rem;
                right: 2rem;

                &:hover{
                    color: var(--paragraph);
                }
            }
            .navLinks{
                flex-direction: column;
                display: flex;

                .navLink{
                    color: var(--text);
                    margin: 1rem 0;
                }
            }
            .contact_btn{
                margin-top: 2rem;
                justify-content: center;
                display: flex;
                .join_us{
                    color: var(--text);
                    border-color: var(--text);
                }
                .discord{
                    margin-left: 2rem;
                }

            }
        }

        .navLinks {
            display: flex;
            align-items: center;

            .navLink{
                margin: 0 1rem;
                font-size: var(--text-size);
                font-weight: 400;
                color: var(--black);
                transition: all .2s ease-in-out;

                &:hover{
                    color: var(--paragraph);
                }
            }
        }

        .contact_btn{
            .btn{
                cursor: pointer;
                padding: .5rem 1.5rem;
                border: 2px solid var(--black);
                font-size: var(--text-size);
                border-radius: 2rem;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: var(--pink);
                    color: var(--text);
                    border-color: transparent;
                }
            }

            .discord{
                margin-left: 1rem;
                color: var(--text);
                border: none;
                background-color: var(--blue);
            }
            .connect{
                background-color: var(--pink);
                margin-left: 1rem;
                color: var(--text);
                border: 2px solid transparent;

                &:hover{
                    background-color:transparent;
                    color: var(--blue);
                    border: 2px solid var(--blue);
                }
            }
        }
    }

    .logo {
        .logoImage {
            width: 50px;
        }

        .logo_text {
            font-size: var(--logo-size);
            margin-left: 1rem;
        }
    }

}

@media only screen and (max-width: 1200px) {
   nav{
    .desktop_nav{
        .contact_btn{
            .btn{
                width: 150px;
                height: 50px;
            }
        }
    }
   }
}

@media only screen and (max-width: 1230px) {
    nav{
        .desktop_nav{
            .menu{
                display: flex;
            }
            .navLinks, .contact_btn{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .contact_btn{
        flex-direction: column;

        .discord,.connect{
            margin-left: 0px !important;
            margin-top: 2rem;
        }
    }
}

@media only screen and (max-width: 370px) {
nav{
    .logo_text{
        font-size: 22px !important;
    }
}
}