@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerE{
    padding: 0 2rem;
    max-width: 1500px;
    margin: 0 auto;
}
.container{
    padding: 0 2rem;
    max-width: 1500px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 650px){
    .containerE{
        padding: 0 1rem;
    }
}

